<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
    <!--uses studentNAV.ejs for formatting header-->
    <%- include ("../partials/studentNAV.ejs") %>

  <div class="container">
    <h1 class="title">Student Database List</h1>
    <!-- print out the table -->
    <table>
      <tr>
        <th>Name</th>
        <th>GPA</th>
        <th>Hair Colour</th>
      </tr>
      <% results.forEach(function(r) { %>
      <tr>
        <!-- link that will send the user to the custom student -->
        <td><a href="<%= 'studentsLargeList/' + r.id %>"><%= r.name %></a></td>
        <td><%= r.gpa %></td>
        <td><%= r.colour%></td>
      </tr>
    <% }); %>
    </table>

    <!-- add two buttons to add and view the data -->
    <button><a href="/add">Add new student</a></button>
    <button><a href="/view">Larger student database</a></button>
  </div>

</body>
</html>
