<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <!--uses studentNAV.ejs for formatting header-->
    <%- include ("../partials/studentNAV.ejs") %>
    <div class="container">
        <h1 class="title">Edit Student</h1>
        <!-- input to edit the current student -->
        <form method="post">
            <input type="text" name="name" value="<%= results[0].name %>" minlength="1" maxlength="15" placeholder="name" required="true"> <br>
            <input type="number" name="weight" value="<%= results[0].weight %>" min="1" max="400" style= "width: 150px" placeholder="weight (#)" required="true"> <br>
            <input type="number" name="height" value="<%= results[0].height %>" min="1" max="400" style= "width: 150px" placeholder="height (#)" required="true"> <br>
            <input type="text" name="colour" value="<%= results[0].colour %>" minlength="1" maxlength="20" placeholder="colour in text" required="true"> <br>
            <input type="number" step="0.01" name="gpa" value="<%=results[0].gpa %>" min="0.01" max="4.33" style= "width: 130px" placeholder="GPA (#)" required="true"><br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>

